/*fuentes*/

@font-face {
    font-family: Titulos;
    src: url(fonts/GillSansUltraBold.ttf);
  }
@font-face {
    font-family: texto;
    src: url(fonts/Cascadia.ttf);
  }

/*general*/
body{
    margin: 0;
    font-family: texto;
}

header, nav, footer {
    font-family: Titulos;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
footer {
    padding-top: 1em;
    text-align: center;
   height: 5em;
}
.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Titulos;
    margin-top: 2em;
}
.titulo hr{
    background-color: rgb(1244, 184, 0);
    width: 30%;
    height: .15em;
    border: none;

}

/*iconos*/
#logo {
    width: 20em;
    padding: .5em 0em 0em 2em;
}
#carro {
    width: 5em;
    position: fixed;
    top: -.8em;
    right: 1em;
}
div>#carro {
    background-color: rgb(0, 0, 0);
    border: solid rgb(255, 184, 0) .3em;
    border-radius: 1em;
}

/*nav*/
nav{  
    padding-bottom: 1em;
}
ul {
font-size: larger;
margin: 0 0 0em 30%;

list-style: none;
display: flex;
flex-direction: row;
justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
}
/*banner (no funcional)*/
#bannerCont {
    display:flex;
    flex-direction: column;
    align-items: center;

}
#banner {
    width: 100%;
    padding: 0;
    margin: 0;
}
/*article*/

article{
    margin: 0;

}

/*Novedades*/
.novedades{
display: flex;
flex-direction: row;
justify-content: center;
width: 50%;
margin: auto;
font-size: x-small;
}
.novedad{
    font-family: Titulos;
    background-color: rgb(255, 0, 0);
    color: white;
    text-align: center;
    margin-bottom: 5em;
}
.ejemplar, .libro{
display: flex;
flex-direction: column;
justify-content: center;
width: 17em;
}
.sinopsisPar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 2em;
}
.sinopsisPar h3, .sinopsisImpar h3{
    font-family: Titulos;
    font-size: large;
}
.sinopsisPar hr, .sinopsisImpar hr{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: .05em;
    border: none;
    text-align: left;
}
.sinopsisImpar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    margin-right: 2em;
}

/*categorias*/

#categorias img{
    width: 20em;
    }

/*social*/
#social{    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    margin-bottom: 5em;
}
/*Newsletter*/

#newsletter{    
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
}
#newsletter h3{    
    font-family: Titulos;
    }
#newsletter input:first-of-type{    
    width: 50%;
        }
#boton{   
        font-family: Titulos;
            margin-left: 90%;
            background-color: black;
            color: white;
            border: 0;
            border-radius: 2px;
            padding: 5px;
                }

#newsletter hr{

    background-color: rgb(0, 0, 0);
    width: 100%;
    height: .05em;
    border: none;
    text-align: left;
}

/*Categorias*/

#categorias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

/*Catalogo*/
#ultimo{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    }
.libro {
    font-family: Titulos;
    width: 17em;
    margin: 5em;
margin-left: 9em;
    margin-right: 0;
}
.libro>.novedad{
margin-bottom: -1em;
}
.libro .novedad{

    background-color: rgb(255, 0, 0);
    color: white;
    text-align: center;
}
.libro h3 {
    text-align: center;
}

/*Nosotros*/
#nosotros {
    margin-top: 3em;
}
#nosotros h3{
    font-family: Titulos;
}
#nosotros div{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 83%;
    margin: auto;
}
#nosotros div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-left: 2em;
}
#nosotros div p{
    margin:0;
    width: 100%;
}
#nosotros div img {
    width: 30em;
}
#nosotros div div hr{
   background-color: rgb(255, 184, 0);
   height: .1em;
   width: 100%;
   border: none;
}
#nosotros p{
    width: 83%;
    margin: auto;
    margin-top: 2em;
}

/*FORM*/
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
    width: 30%;
    margin-bottom: 5em;
}
form #boton{
    width: 8em;
    border-radius: 1em;
    padding: 1em;
}

/*iconos rrss*/
#rrss{
    margin: auto;
}

.rrss{
width: 3em;
margin: 1em;
}